h4 {
    color: white;
}

.rezept {
    padding: 0em;
    margin: 0em;
    color: white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.rezept img {
    display: block;
    width: 100%;
}
