html{
    background-color: black;
    color: white;
}

.slidecontainer{
    width: 100%;
    margin-top: 10px;
}
.slider{
    -webkit-appearance: none;
    width:90%;
    height:10px;
    border-radius: 5px;

}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 20%;
  background: rgb(205,000,000);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(205, 000, 000) ;
  cursor:pointer;
}
