/* Layout des main-Elements */
.main {
  margin-left: 200px;
  font-size: 1em;
  padding: 0px 10px;
}

/* generelle Style-Eigenschaften */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1C1C1C;
  padding-top: 20px;
}

/* Style-Eigenschaften der oberen Menüpunkte */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  font-size: 1em;
  color: #FFFFFF;
  display: block;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* Default: untere Menüpunkte ausgeblendet */
.dropdown-container {
  display: none;
  background-color: #2E2E2E;
  padding-left: 1em;
  cursor: pointer;
}

/* Plus-Icon zur Kennzeichnung der oberen Dropdown-Elemente */
.icon-plus {
  float: right;
  padding-right: 1em;
}
