#vertical {
	position: absolute;
	left: 10px;
	z-index: 5;
}

#vertical ul{
	background: #153363;
	width: 180px;
    list-style:none;
    margin:0;
    padding:0;
}

#vertical ul li {
    position:relative;
}

#vertical ul li:hover ul {
display:block;
}

#vertical ul ul {
position:absolute;
left:180px;
top:0;
border-top:1px solid #e9e9e9;
display:none;
}

#vertical ul ul li {
width:170px;
background:#DCE1E8;
border:1px solid #D5D7DB;
border-top:0;
}

#vertical ul ul li a {
color:#476EA8;
font-size:15px;
}

#vertical ul ul li a:hover {
color:#153363;
letter-spacing: 1px;
background: #F0F4FA;
}
