html{
    background-color: black;
    color: white;
}
.label{
    margin-top: 1em;
}
input{
    box-shadow: 0px 3px 5px 2px #940000;
    background-color:#880000;
    color:white;
    border-color: #880000;
    border-radius: 0.5px;
        font-size: 0.8em;
}
.name .value input{
    width: 70%;
}
.portionen .value input{
    width: 12%;
    margin-right: 1em;
}
.portionen .value{
    font-size: 0.8em;
}
#zutatenTabelle{
    width: 100%;
}
#zutatenTabelle input{
    width: 95%;
}
.td1{
    width:20%;
    padding-right: 2%;
}
.zubereitung .label{
    clear: left;
}
#beschreibung{
    width: 90%;
    height: 15em;
    box-shadow: 0px 3px 5px 2px #940000;
    background-color:#880000;
    margin-left: 3%;
    border-color: #880000;
    color: white;
}
.gerichtsMerkmale ul{
    list-style-type: none;
    padding-left: 5%;
    margin-top: 0.5em;
}

.tabellenBeschreibung{
    float: left;
    width: 33.33333%;
    box-sizing: border-box;
}
#hinzufuegen-button, #entfernen-button {
margin-right: 2em;
}
.zubereitungsZeit .value input{
    margin-right: 1em;
}
.tabellenButton{
    float:left;
text-align: center;
width:40%;
margin-bottom: 1em;
}
.tabellenButtons{
    width:100%;
    margin-top: 1em;
}

button{
background-color:#1f3d00;
border-radius: 15%;
}
#upload{
    float:right;
    padding:5%;
    margin-right:15%;
    width:45%;
    height: 40%;
}
.bildUpload .value{
    font-size: 0.65em;
}
#bildDatei {
margin-bottom: 3em;
font-size: 1em;
}
button:hover{
    background:#168a00;
}
.kategorie .value table{
    width:100%;
}
.kategorie .value label:hover, .gerichtsMerkmale .value label:hover{
color:  red;
cursor: pointer;
}
.bildUpload .value label:hover, .bildUpload .value input:hover {
    cursor: pointer;
}

.kategorie .value th{

}
@media (min-width: 40em) {
    .kategorie .value table{
        width:55%;
        margin-left: 20%;
        font-size: 1.1em;
    }
    #beschreibung{
        height: 25em;
        width:96%;
        margin-left: 1%;
        font-size:0.8em;
    }
    .name .value input{
        width: 50%;
    }
    input{
        font-size:0.8em;
    }
    .label{
        font-size:1.25em;
        margin-bottom: 0.3em;
    }
    .gerichtsMerkmale .value{
        font-size:1.1em;
    }
    #hinzufuegen-button, #entfernen-button{
        font-size: 0.9em;
        margin-left: 60%;
    }
    #upload{
        font-size: 1.5em;
        padding:3%;
        margin-right:5%;
        width:30%;
    }
    #bildDatei{
        font-size:1.15em;
    }

.bildUpload .value{
    font-size: 0.8em;
}

}
@media (min-width: 60em) {
    .kategorie .value table{
        width:40%;
        margin-left: 2%;
        font-size: 1.25em;
    }
    #beschreibung{
        height: 30em;
        width:98%;
        margin-left: 0%;
        font-size:1em;
    }
    .name .value input{
        width: 30%;
    }
    input{
        font-size:1em;
    }
    .label{
        font-size:1.5em;
        margin-bottom: 0.5em;
    }
    .gerichtsMerkmale .value{
        font-size:1.25em;
    }
    #hinzufuegen-button, #entfernen-button{
        font-size: 1.1em;
        width: auto;
        height: auto;
    }
    #upload{
        font-size: 2em;
        padding:2%;
        margin-right:7%;
        width:20%;
    }
    #bildDatei{
        font-size:1.25em;
    }
    .bildUpload .value{
        font-size: 0.9em;
    }

}
