html{
    background-color: black;
    color: white;
}
.label{
    margin-top: 1em;
}
input{
    box-shadow: 0px 3px 5px 2px red;
    background-color:#B40404;
    color:white;
    border-color: #B40404;
    border-radius: 0.5px;
        font-size: 0.8em;
}
.name .value input{
    width: 70%;
}
.portionen .value input{
    width: 12%;
    margin-right: 2%;
}
.portionen .value{
    font-size: 0.8em;
}
#zutatenTabelle{
    width: 100%;
}
#zutatenTabelle input{
    width: 95%;
}
.td1{
    width:13%;
    padding-right: 2%;
}
.zubereitung .label{
    clear: left;
}
#beschreibung{
    width: 90%;
    height: 10em;
    box-shadow: 0px 3px 5px 2px red;
    background-color:#B40404;
    margin-left: 3%;
    border-color: #B40404;
    color: white;
}
.gerichtsMerkmale ul{
    list-style-type: none;
    padding-left: 5%;
    margin-top: 0.5em;
}

.tabellenBeschreibung{
    float: left;
    width: 33.33333%;
    box-sizing: border-box;
}
#hinzufuegen-button, #entfernen-button {
    margin-top: 1em;
    width:80%;
    height: 100%;
    font-size: 0.7em;
    margin-left: 10%;
    margin-right: 3em;
    margin-bottom: 2em;
display: inline;


}
#entfernen-button {

}
.tabellenButton{
box-sizing: border-box;
float: left;
}

button{
background-color:#e67d00;
border-radius: 15%;
}
#upload{
    float:right;
    padding:5%;
    margin-right:15%;
    width:45%;
    height: 40%;
}
.bildUpload .value{
    font-size: 0.65em;
}
#bildDatei {
margin-bottom: 3em;
font-size: 1em;
}
button:hover{
    background:#c76d00;
}
.kategorie .value table{
    width:100%;
}
.kategorie .value th{
    
}
