/*definiert das Basic_lAyout des Filters*/
html{
    background-color: black;
    color: white;
}


/*sorgt dafür, dass der Rand der checkboxen rot schimmert*/
.container input{
        box-shadow: 0px 3px 5px 2px red;

}
/* verändert den Pfeil der Maus zu eines Zeigefingers*/
label{
    cursor: pointer;
}


/* verändert die Farbe von weiß auf rot, wenn die MAus drauf zeigt*/
label:hover{
color:  rgb(205, 000, 000);
}

.slidecontainer{
    width: 100%;
    margin-top: 1em;
}


.slider {
   - webkit-appearance: none;
    width:90%;
    height:10px;
    outline: none;
    opacitiy: 0.7;
    border-radius: 12em;
    box-shadow: 0px 1px 10px 1px red;;


}

.slider:hover{
    cursor: pointer;

}

.slider::after {
    content: '100';
    color: black;
    position: absolute;
    left: 80%;
    top:26%;
}

.slider::before {
    content: '1';
    color: black;
    position:absolute;
    left: 12%;
    top: 26%;
}


/* Layout für Chrome-Browser*/
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(205, 000, 000) ;
  cursor:pointer;
  opacity: 0.7;

}

/* Layout für MozillA Firefox-Browser*/
.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(205, 000, 000) ;
  cursor:pointer;
  opacity: 0.7;

}

/* Design des Buttons*/
.btn{
    color: white;
    border: none;
    border-radius: 70%;
    margin-left: 5em;
    margin-top: 2em;
    background: black;
    padding-top: 1em;
}

/* Farbe, die vom BUtton gewechselt wird, wenn der cursor auf den Button zeigt*/
.btn:hover{
    background:rgb(205, 000, 000);
}
