/*definiert das Basic_lAyout des Filters*/

html{
    background-color: black;
    color: white;
}

/*Überschriften formatieren*/
h4{
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: bold;

}
 .page-name{
     color=white;
 }



/*sorgt dafür, dass der Rand der checkboxen rot schimmert und der Zeigefinger erscheint*/
.container input{
        box-shadow: 0px 3px 5px 2px red;
        cursor: pointer;

}
/* verändert den Pfeil der Maus zu eines Zeigefingers*/
.container{
    cursor: pointer;
}


/* verändert die Farbe von weiß auf rot, wenn die MAus drauf zeigt*/
.container:hover{
color:  rgb(205, 000, 000);
}


/*Größe des slidecontainer bestimmen*/
.slidecontainer{
    width: 100%;
    margin-top: 1em;
}


/* design des Sliders */
.slider {
   - webkit-appearance: none;
    width:90%;
    height:10px;
    outline: none;
    background: linear-gradient(90deg,  white 60%, white 60%);
    opacitiy: 0.7;
    border-radius: 12em;
    box-shadow: 0px 1px 10px 1px red;


}

.slider::-moz-range-progress{
    background: red;
    border-radius: 12em;
    height: 10px
}

.slider:hover{
    cursor: pointer;
}


.slider::after{
    content: "200";
    color: white;
    position:relative;
    left: 80%;
    top:26%;
}

.slider::before {
    content: "1";
    color: black;
    position:absolute;
    left: 12%;
    top: 26%;
}

/* Layout für Chrome-Browser*/
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(205, 000, 000) ;
  cursor:pointer;
  opacity: 0.7;

}

/* Layout für Mozilla Firefox-Browser*/
.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(205, 000, 000) ;
  cursor:pointer;
  opacity: 0.7;

}

/* Design des Buttons*/
.btn{
    color: white;
    box-shadow: 0px 1px 10px 1px red;
    border-radius: 70%;
    margin-left: 5em;
    margin-top: 2em;
    background: black;
    padding-top: 1em;
}

/* Farbe, die vom Button gewechselt wird, wenn der cursor auf den Button zeigt*/
.btn:hover{
    background:rgb(205, 000, 000);
}

@media (min-width: 40em) {
    .btn {
        margin-left: 55em;
    }
