
.icon-home:before { content: '\e800'; } /* '' */
.icon-filter:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */