/* generelle Style-Eigenschaften */
.rezept {
    padding:0;
    margin:0;

    color: white;

    width: 100%;
    height: 35em;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Style-Eigenschaften des Rezeptbildes */
.image img {
    width: auto;
    height: 20em;
}

/* Style-Eigenschaften Titel des Rezepts */
.überschrift {
    text-decoration: underline;
    font-weight: bold;
}

/* Style-Eigenschaften für die Rezeptbeschreibung */
.beschreibung textarea {
    width: 80%;
    height: 25em;
    background: black;
    color: white;
    border: none;
}

/* Style-Eigenschaften für die Zutaten-Tabelle */
#zutatenTabelle {
    background: black;
    color: white;
    width: auto;
    height: auto;
}

/* Kurzbeschreibung soll bei mobiler Ansicht nicht bis an den rechten Bildschirmrand gehen */
@media (max-width: 40em) {
    .beschreibung textarea {
        margin-left: 0%;
        width: 90%;
    }
}
