h4{
    color: white;
}

#suche {
  border: 2px solid #999;
  border-radius: 0.5em;;
  font-size: 1.2em;
  width: 10em;
  transition: width 0.5s ease-in-out;
}

#suche:focus {
  font-size: 1.5em;
  width: 50%;
}
.rezept {

    padding:0;
    margin:0;

    color: white;

    width: 100%;
    height: 35em;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rezept img {
    display: block;
    width: 100%;
}
