/**
 * Stylesheet zur Klasse App: Hauptstylesheet der Anwendung.
 *
 * Hier sollten nur allgemeine Sachen stehen, die das Layout als Ganzes
 * betreffen. Also solche Dinge wie Schriftart und Größe, Farben sowie das
 * Layout im Allgemeinen betreffend.
 */
@import url('https://fonts.googleapis.com/css?family=Rubik');

/*
 * ALLGEMEINES
 */
html, body {
    padding: 0;
    margin: 0;

    min-height: 100%;
    height: 100%;
}

html {
    font-family: "Rubik", sans-serif;
    font-size: 14pt;
    line-height: 1.6;
    background-color: black;


    --content-padding: 1rem;
}

@media (min-width: 40em) {
    html {
        font-size: 15pt;
    }
}

@media (min-width: 60em) {
    html {
        font-size: 16pt;
    }
}

@media (min-width: 80em) {
    html {
        font-size: 18pt;
    }
}

body {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}


/*
 * KOPFBEREICH
 */

/* Allgemeine Darstellung der Menüzeile */
header {
    --text-color: white;
    --icon-color: rgb(255, 255, 255);

}
header nav {
    padding: var(--content-padding);
    color: var(--text-color);
    background-image:url(christmasbells_title.jpg);
    background-size:contain;
}

header nav i {
    color: var(--icon-color);


}

header nav .page-name {
    font-weight: bold;
}

header nav .logo {
    display: none;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav li {
    padding: 0.25em 0 0.25em 0;
}

/* Link-Farben */
header nav a,
header nav a:visited {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.25s;
}

header nav a:hover {
    color: var(--icon-color);
}

header nav a i,
header nav a:visited i {
    color: var(--icon-color);
}

header nav a:hover i {
    color: red;
}

/* Linkes Menü */
header nav .menu-left {
    display: flex;
}

header nav .menu-left .go-back,
header nav .menu-left .dont-go-back {
    flex: 1;

}

header nav .menu-left li {
    display: inline-block;
}

/* Kopfinhalt der Seite */
header .content {
    padding: var(--content-padding);

    background: black;
    border: 0px solid lightgrey;
    border-bottom-width: 1px;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.9);
}

header .content h1,
header .content h2,
header .content h3,
header .content h4,
header .content h5,
header .content h6 {
    margin: 0;

}

header .content h1 {
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
    font-size: 150%;
}


header .content h2 {
    font-size: 110%;
}

header .content h3,
header .content h4,
header .content h5,
header .content h6 {
    font-size: 110%;
}

/* Gestaltung des ZUrückpfeils und der Überschrift im Header */
header .content span {
    color: white;
}
 header .content a{
     color: white;
 }

 header .content a:link{
     text-decoration: none;
 }
/* Anpassung an große Bildschirme */
@media (max-width: 40em) {
    .small-screen-hidden {
        display: none;
    }
}

/*damit das Hamburger-Menu auch bei normalen LapTop Displays aufgeklappt/zugeklappt werden kann und sich der Kopfbereich demenstprechend anpasst*/
@media (min-width: 40em) {
    .small-screen-hidden {
        display: none;
    }
}

/*@media (min-width: 40em) {
    .small-screen-only {
        display: none !important;
    }

    .logo {
        display: inline-block !important;

        height: 2em;
        padding-right: var(--content-padding);
    }

    header nav,
    header nav .menu-right {
        display: flex;
    }

    header nav .menu-right li {
        padding-left: var(--content-padding);
    }

    header nav .menu-left {
        flex: 1;
}
}*/

/*
 * HAUPTBEREICH
 */
main {
    padding: var(--content-padding);
    /*background: black;*/
    flex: 1;
}

main a,
main a:visited {
    color: crimson;
    text-decoration: underline;
    transition: color 0.25s;
}

main a:hover {
    color: red;
}

/* Ausblenden der Menüleiste in der mobilen Ansicht */
@media (max-width: 45em) {
    #responsiveMenu {
        display: none;
    }
    header nav ul nav {
        display: none;
    }
}

/* Darstellung der Menüleiste ab einer Bildschirmgröße von 45em */
@media (min-width: 45em) {
    .icon-menu {
        display: none;
    }


            header nav ul nav {

                float: left;
                width: 100%;
                background-image: none;
            }

            header nav ul nav ul {
                margin: 0;
                padding: 0;
            }

            header nav ul nav a {
                display: block;
                color: #fff;
                text-decoration: none;
            }

            header nav ul nav ul li {
                position: relative;
                float: left;
                list-style: none;
            }

            header nav ul nav ul li:hover {
                background: #8A0808;
            }

            header nav ul nav ul li a {
                padding: 20px;
            }

            /* Verschiebung der unteren Menüpunkte aus dem sichtbaren Bereich hinaus */
            header nav ul nav ul ul {
                position: absolute;
                top: -9999px;
                left: -9999px;
                background: #333;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
                }

            header nav ul nav ul ul li {
                float: none;
                width: 200px;
                border-bottom: 1px solid #555;
            }

            header nav ul nav ul ul li a {
                padding: 10px 20px;
            }

            /* Zurückholen der unteren Menüpunkte in den sichtbaren Bereich bei hover */
            header nav ul nav ul li:hover > ul {
                position: absolute;
                top: 100%;
                left: 0;
            }

            /* Erzeugung des Icons (Dreieck nach unten) bei den oberen Menüpunkten */
            header nav ul nav ul li.submenu > a:after {
                position: relative;
                float: right;
                content: '';
                margin-left: 10px;
                margin-top: 5px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #fff;
                border-bottom: 5px solid transparent;
            }

            header nav ul nav ul ul li.submenu a:after {
                margin-left: auto;
                margin-right: -10px;
                border-left: 5px solid #fff;
                border-right: 5px solid transparent;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
            }

            header nav ul nav ul ul li:last-child {
                border-bottom: none;
            }


}
