h4{
    color: white;
}

.countdownContainer{
    width: 100%;
    left: 0;
    rigth: 0;
    background-image:url(stars.jpg);
    background-size:contain;
    /*border-bottom-width: 1px;*/
    color: white;
}
