.countdownContainer{
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    background: white;
    border: 0px solid lightgrey;
    border-bottom-width: 1px;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.9);
}
