h4{
    color: white;
}

/* Style-Eigenschafte Countdown */
.countdownContainer{
    width: 100%;
    left: 0;
    right: 0;
    background-image:url(stars.jpg);
    background-size:contain;
    color: white;
    background-color: white;
}

/* generelle Style-Eigenschaften für jedes Rezept */
.rezept {

    padding:0em;
    margin: :0em;

    color: white;

    width: 100%;

    white-space: nowrap;

    overflow: hidden;
}

/* Style-Eigenschaften Rezeptbild */
.rezept img {
    display: block;
    width: 100%;
    margin-bottom: 1em
}
