h4{
    color: white;
}

.countdownContainer{
    width: 100%;
    left: 0;
    right: 0;
    background-image:url(stars.jpg);
    background-size:contain;
    /*border-bottom-width: 1px;*/
    color: white;
    background-color: white;
}

.rezept {

    padding:0;
    margin:0;

    color: white;

    width: 100%;
    height: 35em;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rezept img {
    display: block;
    width: 100%;
}
